@import play.api.libs.json.Json
@import models._
@import org.joda.time.LocalDate
@(images: List[WeatherImage], dates: List[String], maxes: List[String], mins: List[String])

@main("Ozora Weather", "index") {
<div class="container">
  <div class="row">
    <h2>東京のお天気</h2>
    <div class="col-sm-6" id="today">
      <h3>@dates(0)</h3>
      <h4>
        <img src="@(images(0).url)"> @images(0).title
      </h4>
      <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td>最高気温</td>
            <td id="max">@maxes(0)</td>
          </tr>
          <tr>
            <td>最低気温</td>
            <td id="min">@mins(0)</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-6" id="tomorrow">
      <h3>@dates(1)</h3>
      <h4>
        <img src="@(images(1).url)"> @images(1).title
      </h4>
      <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td>最高気温</td>
            <td id="max">@maxes(1)</td>
          </tr>
          <tr>
            <td>最低気温</td>
            <td id="min">@mins(1)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
}
